
# MNIST TensorFlow Training (0~9)

This is a implementation and training/test from a MNIST dataset, available on: https://www.kaggle.com/datasets/oddrationale/mnist-in-csv.

In this implementation, it just predict all the possible values: 0 to 9.

In [91]:
import numpy as np
import pandas as pd
import tensorflow as tf
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense
from sklearn.preprocessing import OneHotEncoder

In [92]:
# Read train and test data
data = pd.read_csv('mnist_train.csv')
data_test = pd.read_csv('mnist_test.csv')

In [93]:
# Show head of training data
data.head()

,label,1x1,1x2,1x3,1x4,1x5,1x6,1x7,1x8,1x9,...,28x19,28x20,28x21,28x22,28x23,28x24,28x25,28x26,28x27,28x28
0,5,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,4,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,9,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [94]:
# Show head of training data
data_test.head(10)

,label,1x1,1x2,1x3,1x4,1x5,1x6,1x7,1x8,1x9,...,28x19,28x20,28x21,28x22,28x23,28x24,28x25,28x26,28x27,28x28
0,7,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,2,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,4,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
5,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
6,4,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
7,9,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
8,5,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
9,9,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [95]:
# Defining the enconder
encoder = OneHotEncoder(handle_unknown='ignore')

# Separate X_train data to the Y_train data
X = data.iloc[:,1:]
Y = data.iloc[:, :1]

# Encoding the OneHot data to Y
encoder_df_train = pd.DataFrame(encoder.fit_transform(Y[['label']]).toarray())

final_df_train = Y.join(encoder_df_train)
Y = final_df_train.iloc[:, 1:]

# Separate X_test data to the Y_test data
X_test = data_test.iloc[:,1:]
Y_test = data_test.iloc[:, :1]

# Encoding the OneHot data to Y_test
encoder_df_test = pd.DataFrame(encoder.fit_transform(data01_test[['label']]).toarray())

final_df_test = Y_test.join(encoder_df_test)
Y_test = final_df_test.iloc[:, 1:]

# Just get the original labels from data_test
Y_test_labels = data_test.iloc[:, :1]

In [96]:
X.head()

,1x1,1x2,1x3,1x4,1x5,1x6,1x7,1x8,1x9,1x10,...,28x19,28x20,28x21,28x22,28x23,28x24,28x25,28x26,28x27,28x28
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [97]:
Y.head()

     0    1    2    3    4    5    6    7    8    9
0  0.0  0.0  0.0  0.0  0.0  1.0  0.0  0.0  0.0  0.0
1  1.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
2  0.0  0.0  0.0  0.0  1.0  0.0  0.0  0.0  0.0  0.0
3  0.0  1.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
4  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  1.0

In [98]:
X_test.head()

,1x1,1x2,1x3,1x4,1x5,1x6,1x7,1x8,1x9,1x10,...,28x19,28x20,28x21,28x22,28x23,28x24,28x25,28x26,28x27,28x28
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [99]:
Y_test.head()

     0    1    2    3    4    5    6    7    8    9
0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  1.0  0.0  0.0
1  0.0  0.0  1.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
2  0.0  1.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
3  1.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
4  0.0  0.0  0.0  0.0  1.0  0.0  0.0  0.0  0.0  0.0

In [100]:
print('X shape is', X.shape)
print('Y shape is', Y.shape)

print('X shape is', X_test.shape)
print('Y shape is', Y_test.shape)

X shape is (60000, 784)
Y shape is (60000, 10)
X shape is (10000, 784)
Y shape is (10000, 10)

In [106]:
# Defining the training model
model = Sequential (
    [
        tf.keras.Input(shape=(784,)),
        Dense(25, activation='sigmoid'),
        Dense(20, activation='sigmoid'),
        Dense(10, activation='sigmoid')
    ], name= "model1"
)

In [107]:
model.summary()

Model: "model1"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_20 (Dense)            (None, 25)                19625

 dense_21 (Dense)            (None, 20)                520

 dense_22 (Dense)            (None, 10)                210

=================================================================
Total params: 20,355
Trainable params: 20,355
Non-trainable params: 0
_________________________________________________________________

In [108]:
# Defining the loss and the optimizer for the model
model.compile(
    loss=tf.keras.losses.BinaryCrossentropy(),
    optimizer=tf.keras.optimizers.Adam(0.001)
)

In [109]:
# Training the model
model.fit(X,Y, epochs=20)

Epoch 1/20
1875/1875 [==============================] - 4s 2ms/step - loss: 0.2376
Epoch 2/20
1875/1875 [==============================] - 4s 2ms/step - loss: 0.1256
Epoch 3/20
1875/1875 [==============================] - 4s 2ms/step - loss: 0.0985
Epoch 4/20
1875/1875 [==============================] - 4s 2ms/step - loss: 0.0876
Epoch 5/20
1875/1875 [==============================] - 4s 2ms/step - loss: 0.0804
Epoch 6/20
1875/1875 [==============================] - 4s 2ms/step - loss: 0.0772
Epoch 7/20
1875/1875 [==============================] - 4s 2ms/step - loss: 0.0735
Epoch 8/20
1875/1875 [==============================] - 4s 2ms/step - loss: 0.0695
Epoch 9/20
1875/1875 [==============================] - 4s 2ms/step - loss: 0.0669
Epoch 10/20
1875/1875 [==============================] - 4s 2ms/step - loss: 0.0666
Epoch 11/20
1875/1875 [==============================] - 4s 2ms/step - loss: 0.0645
Epoch 12/20
1875/1875 [==============================] - 4s 2ms/step - loss: 0.0670
Epoch 13/20
1875/1875 [==============================] - 4s 2ms/step - loss: 0.0662
Epoch 14/20
1875/1875 [==============================] - 4s 2ms/step - loss: 0.0637
Epoch 15/20
1875/1875 [==============================] - 4s 2ms/step - loss: 0.0604
Epoch 16/20
1875/1875 [==============================] - 4s 2ms/step - loss: 0.0626
Epoch 17/20
1875/1875 [==============================] - 4s 2ms/step - loss: 0.0617
Epoch 18/20
1875/1875 [==============================] - 4s 2ms/step - loss: 0.0608
Epoch 19/20
1875/1875 [==============================] - 4s 2ms/step - loss: 0.0600
Epoch 20/20
1875/1875 [==============================] - 4s 2ms/step - loss: 0.0598

In [110]:
# Evaluate some test data
for i in range (20):
  prediction = model.predict(X_test.values[i].reshape(1,-1))
  print(f"Prediction a {Y_test_labels.values[i][0]} as: {prediction.argmax()}")

1/1 [==============================] - 0s 61ms/step
Prediction a 7 as: 7
1/1 [==============================] - 0s 17ms/step
Prediction a 2 as: 2
1/1 [==============================] - 0s 18ms/step
Prediction a 1 as: 1
1/1 [==============================] - 0s 17ms/step
Prediction a 0 as: 0
1/1 [==============================] - 0s 21ms/step
Prediction a 4 as: 4
1/1 [==============================] - 0s 19ms/step
Prediction a 1 as: 1
1/1 [==============================] - 0s 17ms/step
Prediction a 4 as: 4
1/1 [==============================] - 0s 17ms/step
Prediction a 9 as: 9
1/1 [==============================] - 0s 18ms/step
Prediction a 5 as: 6
1/1 [==============================] - 0s 17ms/step
Prediction a 9 as: 9
1/1 [==============================] - 0s 22ms/step
Prediction a 0 as: 0
1/1 [==============================] - 0s 24ms/step
Prediction a 6 as: 6
1/1 [==============================] - 0s 17ms/step
Prediction a 9 as: 9
1/1 [==============================] - 0s 16ms/step
Prediction a 0 as: 0
1/1 [==============================] - 0s 19ms/step
Prediction a 1 as: 1
1/1 [==============================] - 0s 17ms/step
Prediction a 5 as: 5
1/1 [==============================] - 0s 17ms/step
Prediction a 9 as: 9
1/1 [==============================] - 0s 17ms/step
Prediction a 7 as: 7
1/1 [==============================] - 0s 17ms/step
Prediction a 3 as: 2
1/1 [==============================] - 0s 17ms/step
Prediction a 4 as: 4